<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- VedDB Server MSI Installer -->
  <Product Id="*" 
           Name="VedDB Server" 
           Language="1033" 
           Version="0.1.1" 
           Manufacturer="VedDB Team" 
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="VedDB - High-Performance Shared Memory Database"
             Comments="VedDB Server Installation Package" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Installation Directory Structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="VedDB">
          <Directory Id="BinDir" Name="bin" />
          <Directory Id="DataDir" Name="data" />
          <Directory Id="LogsDir" Name="logs" />
          <Directory Id="ConfigDir" Name="config" />
        </Directory>
      </Directory>
      
      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="VedDB" />
      </Directory>
    </Directory>

    <!-- Features -->
    <Feature Id="ProductFeature" Title="VedDB Server" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="StartMenuComponents" />
    </Feature>

    <!-- UI Configuration -->
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
      
      <!-- Custom dialog for installation options -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">1</Publish>
      
      <!-- License -->
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
      <Property Id="WixShellExecTarget" Value="[#veddb_server.exe]" />
    </UI>

    <!-- Custom Properties -->
    <Property Id="MEMORY_SIZE" Value="256" />
    <Property Id="WORKER_COUNT" Value="4" />
    <Property Id="SERVER_PORT" Value="50051" />
    <Property Id="DB_NAME" Value="veddb_main" />
    <Property Id="INSTALL_SERVICE" Value="1" />

    <!-- Icons -->
    <Icon Id="veddb.ico" SourceFile="assets\veddb.ico" />
    <Property Id="ARPPRODUCTICON" Value="veddb.ico" />
    
    <!-- Add/Remove Programs -->
    <Property Id="ARPHELPLINK" Value="https://github.com/mihir-Rabari/ved-db-server" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/mihir-Rabari/ved-db-server" />
  </Product>

  <!-- Components -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
      <!-- Main Executable -->
      <Component Id="veddb_server.exe" Guid="*">
        <File Id="veddb_server.exe" 
              Source="..\target\release\veddb-server.exe" 
              KeyPath="yes" />
        
        <!-- Environment Variables -->
        <Environment Id="VEDDB_HOME" 
                     Name="VEDDB_HOME" 
                     Value="[INSTALLDIR]" 
                     Permanent="no" 
                     Part="all" 
                     Action="set" 
                     System="yes" />
        
        <Environment Id="VEDDB_VERSION" 
                     Name="VEDDB_VERSION" 
                     Value="0.1.1" 
                     Permanent="no" 
                     Part="all" 
                     Action="set" 
                     System="yes" />
        
        <Environment Id="VEDDB_BIN" 
                     Name="VEDDB_BIN" 
                     Value="[BinDir]" 
                     Permanent="no" 
                     Part="all" 
                     Action="set" 
                     System="yes" />
        
        <Environment Id="PATH" 
                     Name="PATH" 
                     Value="[BinDir]" 
                     Permanent="no" 
                     Part="last" 
                     Action="set" 
                     System="yes" />
      </Component>

      <!-- Configuration Files -->
      <Component Id="config_default.toml" Guid="*" Directory="ConfigDir">
        <File Id="config_default.toml" 
              Source="config\default.toml" 
              KeyPath="yes" />
      </Component>

      <!-- Documentation -->
      <Component Id="README.md" Guid="*">
        <File Id="README.md" 
              Source="..\README.md" 
              KeyPath="yes" />
      </Component>

      <Component Id="LICENSE" Guid="*">
        <File Id="LICENSE" 
              Source="..\LICENSE" 
              KeyPath="yes" />
      </Component>

      <!-- Windows Service (Optional) -->
      <Component Id="VedDBService" Guid="*">
        <Condition>INSTALL_SERVICE = 1</Condition>
        <ServiceInstall Id="VedDBService"
                        Type="ownProcess"
                        Name="VedDBServer"
                        DisplayName="VedDB Server"
                        Description="VedDB High-Performance Database Server"
                        Start="auto"
                        Account="LocalSystem"
                        ErrorControl="normal"
                        Arguments='--create --name "[DB_NAME]" --memory-mb [MEMORY_SIZE] --workers [WORKER_COUNT] --port [SERVER_PORT]'>
          <ServiceDependency Id="Tcpip" />
        </ServiceInstall>
        <ServiceControl Id="StartService" 
                        Start="install" 
                        Stop="both" 
                        Remove="uninstall" 
                        Name="VedDBServer" 
                        Wait="yes" />
      </Component>
    </ComponentGroup>

    <!-- Start Menu Shortcuts -->
    <ComponentGroup Id="StartMenuComponents" Directory="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcuts" Guid="*">
        <Shortcut Id="StartVedDBShortcut"
                  Name="Start VedDB Server"
                  Description="Start VedDB Database Server"
                  Target="[BinDir]veddb-server.exe"
                  Arguments='--create --name "[DB_NAME]" --memory-mb [MEMORY_SIZE]'
                  WorkingDirectory="INSTALLDIR" />
        
        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall VedDB"
                  Description="Uninstall VedDB Server"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]" />
        
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" 
                       Key="Software\VedDB\Server" 
                       Name="installed" 
                       Type="integer" 
                       Value="1" 
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
